
.details{
        margin: 30px;
        text-align: center;
}
.btn{
    margin-top: 10px;
    color:black;
    background-color: bisque;
    font-family:'Roboto',sans-serif;
    padding:5px;
    transition: all 0.2s;
    font-weight:300;
}
.btn:hover{
    color: #FFFFFF;
    background-color: #CE531F;

    }

