
<header>
    <app-navbar></app-navbar>
</header>
<main>
    <h1 class="mt-5 text-center">Welcome to Quote App!</h1>
    <app-quotes></app-quotes>
</main>
<footer>
    <div>
        <h6>Contacts</h6>
        <a href="#"><p>Tel: +8700078929</p></a>
        <a href="#"><p>Phone: 0747294712</p></a>
  
    </div>
    <div>
        <a href="#"><p>Terms & Conditions | Privacy Policy</p></a>
        <a href="#"><p>Do not Sell My Information</p></a>
        <a href="#"><p>2022&#169;All Rights Reserved </p></a>
       
        
    </div>
</footer>




