<app-navbar></app-navbar>

<h1 class="mt-5 text-center">Welcome to Your Favorite Quotes Application!</h1>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <p>New Quote</p>
      <form action="">
        <div class="form-group">
          <label for="quoteTextarea1">Add Quote</label>
          <textarea class="form-control" id="newQuotearea" rows="3"></textarea>
        </div>
        <div class="form-group ">
          <label for="inputAuthor">Author</label>
          <input type="text" class="form-control" id="inputAuthor">
        </div>
        <div class="form-group ">
          <label for="inputName">Added By:</label>
          <input type="text" class="form-control" id="inputName">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-md-8">
      <app-quotes></app-quotes>
    </div>
  </div>
</div>


