.quoteCard{

}
.quoteBody{
    background: #092858;
    color: white;
    width:500px;
    padding: 20px;
    margin-bottom: 20px;
   
}

.quoteBody:hover{
    transform: scale(1.05);
 box-shadow: 0 10px 20px black, 0 4px 8px black;
}

main{
    display:flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}
.btn:hover{
    color: #FFFFFF;
    background-color: #CE531F;

    }
    
