<div class="container">
  <div class="row">
    <div class="col-md-4">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
    <div class="col-md-8">
      <ul *ngFor='let quote of quotes; let i = index'>
        <div *ngIf="quote.upvote == highest && quote.upvote >0; then highlight else unhighlight">

          
        </div>
        <div>
          <ng-template #highlight>
            <div appHighlightQuote>
              <li class="text-center" style="list-style: none;">{{quote.quote}}</li>
              <li class="text-center" style="list-style: none;">Quote added on~{{quote.dateAdded|date}}</li>
              <li style="list-style: none;">~{{quote.author}}</li>
              <p class="mt-4">
                <span class="mr-5"><ng-content></ng-content> {{quote.upvote}}  &#x25B2;</span><ng-content></ng-content> {{quote.downvote}}   &#x25BC; <span></span>
              </p>
              <div class="text-center">
                <button (click)='toggleDescription(i)'>Show more details</button>
              </div>
              
            </div>
          </ng-template>
        </div>
        <div>
          <ng-template #unhighlight>
            <div>
              <li class="text-center" style="list-style: none;">{{quote.quote}}</li>
              <li class="text-center" style="list-style: none;">~{{quote.author}}</li>
              <li style="list-style: none;">Quote added on~{{quote.dateAdded|date}}</li>
              <p class="mt-4">
                <span class="mr-5"><ng-content></ng-content> {{quote.upvote}}  &#x25B2;</span><ng-content></ng-content> {{quote.downvote}}   &#x25BC; <span></span>
              </p>
              <div class="text-center">
                <button (click)='toggleDescription(i)'>Show more details</button>
              </div>
            

          <app-quote-description *ngIf='quote.description' [quote]='quote' (isComplete) = 'completeQuote($event,i)'> </app-quote-description>
            </div>
          </ng-template>
   
         
          
         
        </div>
      </ul>
      <div>

      </div>
    </div>
  </div>

</div>



