* {

    box-sizing: border-box;
    
    margin: 0;
    
    padding: 0;
    
    }
    
.main{
    background:#1E2E23 ;
    padding:20px;
    color:#f1f1f1;
    border-radius: 10px;
    width: 20%;
    margin-left: 200px;
}
.btn{
    padding-left:10px;
    padding-right: 10px;
    font-weight: bold;
}